@import "./styles/genegalStuff";
@import "./styles/nav";
@import "./styles/container";

section {
  height: 80vh;
  background-color: rgba(177, 177, 177, 0.287);
}

@import "./styles/mobile";
.temporary {
  text-align: center;
  font-size: 60px;
  position: relative;
  //top: 55%;
  color: white;
}

@include flex(50rem, 65em);

.physic {
  background-image: url(../img/me.jpg);
  background-size: 150%;
  background-position: center;
  background-position: 50% 0%;
}
.information {
  background-image: url(../img/olga.jpg);
  background-size: cover;
  //background-size: 100%;
  //!background-position: 50% 100%;
}

.description {
  background-color: rgba(41, 41, 41, 0.534);
  width: 50rem;
  height: 25%;
  position: relative;
  //transform: translateY(-50%);
  bottom: -75%;
  //padding-top: 5%;
  p {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 2rem;
    color: rgb(255, 254, 254);
  }
}
