@import "../styles/genegalStuff";
@import "../styles/nav";
@import "../styles/container";

.welcome {
  font-size: 2rem;
  padding: 3% 3% 3% 10%;
  text-align: center;
  font-size: 2rem;
  color: rgb(44, 44, 44);
}
.temporary {
  text-align: center;
  font-size: 60px;
  position: relative;
  color: rgb(59, 59, 59);
  padding-top: 5%;
  padding-bottom: 5%;
}

@include flex(50rem, 65em);

.physic {
  background-image: url(../img/me.jpg);
  background-size: 150%;
  background-position: center;
  background-size: cover;
}
.information {
  background-image: url(../img/olga.jpg);
  background-position: center;
  background-size: cover;
}

.description {
  background: rgb(0, 12, 36);
  background: linear-gradient(
    238deg,
    rgba(0, 12, 36, 0) 0%,
    rgba(9, 121, 112, 0.020045518207282953) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  p {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 2rem;
    color: rgb(44, 44, 44);
  }
}
.descriptionInf {
  background: rgb(0, 12, 36);
  background: linear-gradient(
    76deg,
    rgba(0, 12, 36, 0) 0%,
    rgba(9, 121, 112, 0.020045518207282953) 39%,
    rgba(0, 212, 255, 1) 100%
  );

  p {
    padding-left: 3%;
    padding-right: 3%;
    font-size: 2rem;
    color: rgb(44, 44, 44);
  }
}
.cardsFis {
  display: grid;
  grid-template-columns: 10vw 30vw 50vw;
}
.cardFis {
  height: 75rem;
}

.awards {
  margin-left: 15%;
  margin-top: 5%;
  width: 15vw;
  height: 7vh;
  background: linear-gradient(
    202deg,
    rgba(9, 121, 112, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  cursor: pointer;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  display: none;
}

.cards {
  margin-bottom: 3%;
}
.cardsInf {
  display: grid;
  grid-template-columns: 10vw 50vw 30vw;
}
.cardInf {
  height: 75rem;
}
.regular {
  font-size: 2rem;
  padding: 0.7rem;
  margin-left: 5rem;
  color: rgb(44, 44, 44);
}
@import "../styles/mobile";
@media only screen and (max-width: 800px) {
  .cardsInf {
    grid-template-columns: 0 55vw 40vw;
  }

  .cardsFis {
    grid-template-columns: 0vw 40vw 55vw;
  }
  .regular {
    font-size: 1.5rem;
    padding: 0.7rem;
    margin-left: 5rem;
  }
  .welcome {
    font-size: 1.5rem;
  }
  .temporary {
    font-size: 3rem;
  }
  .description {
    p {
      font-size: 1.5rem;
    }
  }
  .descriptionInf {
    p {
      font-size: 1.5rem;
    }
  }
  .awards {
    margin-left: 5%;
    font-size: 1.4rem;
    width: 45vw;
  }
  .fab {
    margin-top: 22px;
  }
  .information {
    background-image: url(../img/olga.jpg);
    background-position: center;
    height: 80%;
  }
  .descriptionInf {
    background: rgb(88, 246, 255);
    background: linear-gradient(
      155deg,
      rgba(88, 246, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
