@import "../styles/genegalStuff";
@import "../styles/nav";

.box {
  margin-top: 5%;
}

.submit {
  position: relative;
  bottom: -5%;
  width: 100%;
  padding: 3rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 3rem;
}

.field {
  background-color: #ffffff;
  width: 80%;
  font-size: 2rem;
}
.message,
.email-form {
  padding-left: 15%;
  margin-bottom: 5%;
}
.regularText {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 5%;
  padding-top: 5%;
}

.olga {
  border-radius: 20px;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("img/olgaRed.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.olga:hover {
  border-radius: 20px;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("img/olgaRedsmile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.olgaProfi {
  position: relative;
  bottom: -10%;
}
.alex {
  border-radius: 20px;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("img/mEfake.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.alex:hover {
  border-radius: 20px;
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("img/mEfakesmile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@import "../styles/container";
@include flex(20vw, 50vh);
@include flexColum();

form {
  width: 50%;
  color: white;
  border-radius: 20px;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url(img/pys.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@import "../styles/mobile";
@media only screen and (max-width: 800px) {
  .submit {
    position: relative;
    bottom: -10%;
  }
}
