@import "../../styles/container";
.titleFurmuls {
  position: relative;
  bottom: 17rem;
  left: 7rem;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
@include flex(30rem, 20rem);
.box {
  margin: 4rem;
}
