$one: rgba(0, 212, 255, 1) 100%;
$two: rgb(0, 177, 179);
header {
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  background: rgb(0, 177, 179);
  background: linear-gradient(
    202deg,
    rgba(0, 177, 179, 0.5410539215686274) 0%,
    rgba(9, 121, 112, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  color: rgb(255, 249, 249);
  position: sticky;
  top: 0px;
  z-index: 6;
  h1 {
    font-size: 2.5rem;
  }
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.home-page {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 100rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.fab {
  margin-left: 5%;
  padding: 15px;
  font-size: 3rem;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom left, $two, $one);
  color: whites;
  border: 3px solid;
  border-color: white;
  border-radius: 1.8rem;
  box-shadow: 1rem;
  box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3),
    10px 5px 5px rgba(0, 0, 0, 0.4);
}
footer {
  background-image: linear-gradient(to bottom right, $two, $one);
  height: 10vh;
  text-align: center;
  font-size: 25px;
  color: rgb(173, 173, 173);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(41, 41, 41, 0.534);
}
@import "mobile";
@media only screen and (max-width: 800px) {
  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  header {
    height: 15vh;
  }
}
