$one: rgb(151, 156, 133);
$two: #005180;
header {
  width: 80%;
  margin-left: 10%;
  height: 10vh;
  background-image: linear-gradient(to bottom left, $two, $one);
  color: rgb(255, 249, 249);
  position: sticky;
  top: 0px;
  z-index: 6;
  h1 {
    font-size: 2.5rem;
  }
}
.home-page {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

nav {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 100rem;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#logo {
  display: flex;
  flex: 2 1 40rem;
  align-items: center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  margin: auto;
  background-image: linear-gradient(to bottom left, $two, $one);
  margin-top: 20px;
  color: whites;
  border: 3px solid;
  border-color: white;
  border-radius: 1.8rem;
  box-shadow: 1rem;
  box-shadow: -2px -4px 8px 0 rgba(0, 0, 0, 0.3),
    10px 5px 5px rgba(0, 0, 0, 0.4);
}

footer {
  background-image: linear-gradient(to bottom right, $two, $one);
  height: 10vh;
  text-align: center;
  font-size: 25px;
  color: rgb(173, 173, 173);
}
